html
{
    font-size: 62.5%;
}
body
{
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #787364;
    background-color: #352e28;
}
h1
{
    color: #D9CBA2;
    font: 18px kelson-sans, sans-serif;
    margin: 0px 2px 0px 0px;
    padding: 0px 10px;
    border-left: 1px solid #544d45;
    font-weight: 700;
    border: none;
    margin-bottom: 20px;
}
h2
{
    font-family: kelson-sans,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
    z-index: 0;
    color: #AD3951;
    background: 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 700;
}
p
{
    font-family: kelson-sans,sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 14px;
    z-index: 0;
    color: rgb(0, 0, 0);
    background: 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 500;
}
.box
{
    background-color: rgb(255, 255, 255);
    min-height: 400px;
    font-size: 2rem;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
}
.bimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99.9%;
}
hr
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.navbar
{
    background-color:#1D1916 !important;
}
.navbar a
{
    font-family: kelson-sans,sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 14px;
    z-index: 0;
    position: relative;
    display: inline-block;
    color: #fff;
    background: 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.navbar a:focus, a:hover
{
    transition: color .4s ease 0s;
}
.slider-wrapper
{
    position: relative;
    max-width: 1280px;
    margin: 6px auto 20px;
}
.slider
{
    display: flex;
    aspect-ratio: 2/1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slider img
{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav
{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a
{
    width: 45px;
    height: 5px;
    background-color: #fff;
    transition: opacity ease 300ms;
}
.slider-nav a:hover
{
    opacity: 1;
    background-color: #AD3951;
}
.box-heading-arrow
{
    background-color: white;
    color: #3b3b3b;
    border-bottom: 1px solid #000;
    padding: 10px 20px;
    font-family: kelson-sans,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;

}
.background
{
    background-color: white;
}
.item-inner
{
    background-color: white;
    border-left: 1px solid #000;
    text-align: center;
    padding: 20px 0;
}
.item-outer
{
    background-color: white;
    text-align: center;
    padding: 20px 0;
}
.footer-clean
{
    padding:50px 0;
    background-color: #1D1916;
    color:#ffffff;
}
.footer-clean h3
{
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
.footer-clean ul
{
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
.footer-clean ul a
{
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
.footer-clean ul a:hover
{
    opacity:1;
}
.footer-clean .item.social
{
    text-align:right;
}
@media (max-width:767px)
{
    .footer-clean .item
    {
      text-align:center;
      padding-bottom:20px;
    }
}
@media (max-width: 768px)
{
    .footer-clean .item.social
    {
      text-align:center;
    }
}
.footer-clean .item.social > a
{
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}
.footer-clean .item.social > a:hover
{
    opacity:0.9;
}
@media (max-width:991px)
{
    .footer-clean .item.social > a
    {
      margin-top:40px;
    }
}
@media (max-width:767px)
{
    .footer-clean .item.social > a
    {
      margin-top:10px;
    }
}
.footer-clean .copyright
{
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
}
.onama
{
    background-color: #352e28;
    margin-left: 0;
    padding: 0;
    font-size: 14px;
    color: #766C5F;
}
#form
{
    width: 500px;
    text-align: center;
    background-color: #352e28;
    width: 50%;
}
label
{
    display: inline-block;
    width: 125px;
    text-align: left;
    font-family: sans-serif;
}
input
{
    display: inline-block;
    width: 225px;
    margin: 3px auto 2px auto;
}
.button
{
    text-align: center;
    width: 80px;
    height: 30px;
    background-color: #1D1916;
    border-radius: 10px;
    font-family: Arial;
    border: 1px solid beige;
    color: beige;
}
.content {
    max-width: 500px;
    margin: auto;
  }